<div class="slider">
    <ng-container>
        <div class="slide">
            <div class="slide-bg">
                <img class="slide-bg-image" [src]="" alt="" />
            </div>
            <div class="slide-pane">
                <h2 class="name"></h2>
                <div class="meta">
                    <div class="info">
                        <span class="rating">
                            <span class="app-icon">star</span><span class="rating-value"></span
                            ><span>/10</span>
                        </span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="desc mt-6"></div>
            </div>
        </div>
    </ng-container>
</div>
